extends ../_layouts/site

block vars
  - var pageClass = 'about-page'
  - var title = 'About Us'
  - var description = 'ThulaSana Home Daycare of Alameda will care for a maximum of six children between the ages of four months and three years.'
  - var ogTags = {url: 'http://alameda-daycare.com/about', title: 'About ThulaSana Home Daycare', desc: description, img: 'http://alameda-daycare.com/img/shared/og.jpg', twitterImg: 'http://alameda-daycare.com/img/shared/og-twitter.jpg', type: 'article'}

mixin bio(name, title, image, alt, description)
  article.bio
    .image-col
      .image-outer
        .image-inner
          img(src=image alt=alt)
    .text-col
      h2 !{name}
      h3 !{title}
      each para in description
        p !{para}

block content
  section.biographies
    .inner-container
      h1 About ThulaSana Home&nbsp;Daycare
      .bios
        +bio(
          'Thembeka “Happy” Majola',
          'Owner/Principal Caretaker',
          '/img/about/thembeka-happy-majola.jpg',
          'Thembeka Happy Majola',
          [
            'I am a multilingual South African with seven years of nannying experience. I cannot begin to tell you what an amazing experience it has been. The faith and trust that families have placed in me to help raise their little ones is humbling.',
            'Additionally, I have completed several child development pyschology classes focused on building confidence and healthy self-esteem, child nutrition, and child development. These disciplines have given me a greater understanding of my critical role as a childcare provider while enhancing my passion and confidence for teaching.'
          ])

  section.more-details
    article.inner-container
      h2 Details
      ul
        li ThulaSana Home Daycare will care for a maximum of #[strong six&nbsp;children.]
        li We provide care for children between the ages of #[strong four months] and #[strong three years&nbsp;old.]
        li 
          | In order to provide quality child care services, ThulaSana Home Daycare has established limits on the 
          | number of children in each age group as follows: #[strong three infants] (four&nbsp;months+) and 
          | #[strong three toddlers] (up to three&nbsp;years).
        li Full-time applicants get first preference.
        li 
          | The enrollment fee includes baby care products such as: moisturizers, diapers, diaper cream, wipes, meals, 
          | and snacks (excluding&nbsp;formula).
        li
          | Parents are only asked to provide changes of clothes and bottles of milk/formula.

  include ../_partials/cta-banner
